<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	 th:fragment="layout(head, main)">
    <head>
        <meta charset="UTF-8">
        <meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
		<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Insert title here</title>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/js/admin/menu.js"></script>
        <script src="/js/admin/fileupload.js"></script>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="/css/admin/goods.css">
        <link rel="stylesheet" href="/css/admin/goodslist.css">
        <link rel="stylesheet" href="/css/admin/categoryListPage.css">
        
        <th:block th:replace="${head}" />
    </head>
    <body class="flex">
        <th:block th:insert="~{layout/admin/header-admin}" />
        <th:block th:insert="${main}" />
    </body>
</html>