<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security">
<head>
		<link rel="stylesheet" href="/css/footer.css">
</head>
		<footer id="footer" >
		<div class="wrrap">
			<div>
			  	<ul>
			  		<li style="font-weight: bold">Creator</li>
				   	<li>김형균- <a href="mailto:kkuni1738@gmail.com">kkuni1738@gmail.com</a></li>
				   	<li>김재근- <a href="mailto:godme7058@gmail.com">godme7058@gmail.com</a></li>
				   	<li>박성민- <a href="mailto:tjdals3582@gmail.com">tjdals3582@gmail.com</a></li>
			  	</ul>
			  	<ul class="copy">
			  		<a href="https://sites.google.com/view/iliveinseoul/%ED%99%88">개인정보처리방침</a>
			  		<li>Copyright 2023. Iris . All Rights Reserved.</li>
			  	</ul>
		  	</div>
		  </div>
		</footer>
			
</html>