<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" href="/css/header.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
	</style>
</head>
	<header id="logo">
		<div class="wrap view-size">
			<a href="/" style="font-family: 'Single Day', cursive"><span style="color: #eb3b5a">아이 </span><span style="color: #0984e3">live in Seoul</span></a>
		</div>
	</header>
</html>