<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" href="/css/header.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
	</style>
</head>
	<header id="logo" style="position: relative;width: 900px;margin:0 auto;">
		<div class="wrap view-size">
			<a href="/" style="font-family: 'Single Day', cursive"><span style="color: #eb3b5a">아이 </span><span style="color: #0984e3">live in Seoul</span></a>
		</div>
		<div style="text-align: end;margin: 0px 50px 20px 0;position: absolute;top:30px;right: 0px;">
			<span sec:authorize="isAnonymous()">
	        	<a href="/login" >로그인</a>
	        	<span style="color:#c9c9c9;"> |</span>
	        	<a href="/signup">회원가입</a>
			</span>
	       	<div sec:authorize="isAuthenticated()" class="flex">
		        <span th:text="${#authentication.name}"></span>
		        <span style="color:#c9c9c9;margin:0 1.5px"> |</span>
		        <form action="/logout" method="post" >
		        	<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		           	<button style="cursor: pointer;background-color: white;">로그아웃</button>
		   		</form>
		   		<span style="color:#c9c9c9;margin:0 1.5px"> |</span>
		   		<a href="/userPwCheck">마이페이지</a>
		   		<div sec:authorize="hasRole('ADMIN')" >
		   			<span style="color:#c9c9c9;margin:0 1.5px"> |</span>
		   			<a href="/admin">관리자페이지</a>
		   		</div>
	   		</div>	
	   		
        </div>
        <section id="menu-list">
			<ul class="flex between">
				<li>
					<a href="/mapPage">다둥이카드 협력업체</a>
				</li>
				<li>
					<a href="/mapPage2">아이들을 위한 시설</a>
				</li>
				<li>
					<a href="/mapPage3">유원시설</a>
				</li>
				<li>
					<a href="/goods/list">아이상품</a>
				</li>
				<li>
					<a href="/board/list">자유게시판</a>
				</li>
			</ul>
		</section>
	</header>
</html>