<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security"
	th:replace="~{ layout/layout :: basic(~{this::head},~{::main}) }">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="/css/goods/list.css">
	</head>
	<body>
		<main>
			<h1>메인영역</h1>
			<div class="wrap view-size">
				<section id="img">
					
				</section>
				<section id="goods-list">
					<h1>상품목록 페이지</h1>
					<div class="wrap">
						<p class="tit">상품목록 페이지</p>
						<ul class="grid-container">
							<li th:each="dto:${list}" th:value="${dto.no}">
								<a  th:href="@{/goods/{goodsNo}  (goodsNo=${dto.no})}">
								<img th:src="${dto.defImg}" height="200px;" width="200px;">
								<div>
									<p th:text="${dto.title}"></p>
									<i>
									<span th:text="${#numbers.formatInteger(dto.price,3, 'COMMA')}"></span>
									<span>원</span>
									</i>
								</div>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>