@charset "UTF-8";

#goodslist {
  width: 600px;
}

#goodslist > div.wrap {
  max-width: 600px;
  margin: 0 auto;
}

#goodslist table {
  width: 100%;
}

#goodslist table td {
  padding: 10px;
}

#goodslist table thead {
  background-color: #f5f5f5;
}

#goodslist table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}