@charset "UTF-8";
#info-list{
	    width: 900px;
    	padding: 25px 18px 40px;
   		margin: 50px auto;
}
#info-list ul li:nth-child(1) {
	border-bottom: 3px INSET;
}
/* #info-list ul li:nth-child(1)::after{
	content:"+";
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 1px dotted;
	background-color: #a9a9a9;
}
 */

#info-list  li:not(:first-child) {
	padding:15px 0px;
}
#info-list  li:last-child {
	border-bottom: 3px INSET;
}
.content{
	width:600px;
}
#info-list img{
	cursor: pointer;
}
