@charset "UTF-8";
/* 1번 */
#join-form>.wrap form ul li label{
	display: block;
	color: #000;
	font-weight: bold;
}
/* 2번 */
#join-form>.wrap form ul li>input{
	width: 100%;
}

#join-form>.wrap form ul li>label,
#join-form>.wrap form ul li>span{
	padding-left: 20px;
}

#emailal,#emailal2{
		padding-left: 20px;
	
}


#join-form>.wrap form ul li input, 
#join-form>.wrap form ul li select{
	width: 100%;
}

#join-form>.wrap form ul li input, 
#join-form>.wrap form ul li select{
	padding:10px;
	border-radius: 2px;
}

#join-form>.wrap form ul li *:not(label){
	height: 51px;
	border-radius: 30px;

	
}

#join-form>.wrap form ul li:not(:first-child){
	padding-top: 20px;
}


#join-form>.wrap form ul li label{
	margin-bottom: 10px;
}

#join-form>.wrap form ul li.birth .birth-wrap{
	display:flex;
	justify-content: space-between;
	width: 100%;
	
}

#join-form>.wrap form ul li.birth .birth-wrap > *{
	width: 33%;
}

#join-form>.wrap form ul li.birth .birth-wrap > *:not(:last-child){
	margin-right: 10px;
}

#join-form > div > form > ul > li.email > div > input[type=text]{
	width: 300px;
	
}

#join-form>.wrap form ul li.email .btn-st {
	background-color: #0984e3;
	color:white;
	border-radius: 30px;
	width: 130px;
	margin-left: 10px;
}

#join-form>.wrap form ul li.email >div{
	margin-bottom: 20px;
}

#join-form>.wrap form ul li.submit .btn-st {
	background-color: #0984e3;
	color:white;

	width: 150px;	
	margin-bottom: 30px;
	width: 100%;
	border-radius: 30px;
}
