<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{ layout/layout2 :: basic(~{this::head},~{::main}) }">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <link rel="stylesheet" href="/css/main-sm.css">
        <link rel="stylesheet" href="/css/info-list.css">
        <script src="/js/info.js"></script>
        <style>
			@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
		</style>
    </head>
    <body>
        <main>
        	<h1>메인영역</h1>
        	
        	<div id="all" class="main-wrap center">
        	
        		<div class="top">	
					<!-- <div class="logo">
						<a href="#" style="font-family: 'Single Day', cursive"><span style="color: #eb3b5a">아이 </span><span style="color: #0984e3">live in Seoul</span></a>
					</div> -->
        		</div>
        		<div class="mid flex between">
        			<div class="box box1">
        				<a href="/mapPage">
        					<span class="inner">
        						<span class="inner2">다둥이카드 협력업체</span>
        					</span>
        				</a>
        			</div>
        			<div class="box box2">
        				<a href="/mapPage2">
        					<span class="inner">
        						<span class="inner2">아이들을 위한 시설</span>
        					</span>
        				</a>
        			</div>
        			<div class="box box3">
        				<a href="/mapPage3">
        					<span class="inner">
        						<span class="inner2">유원시설</span>
        					</span>
        				</a>
        			</div>
        		</div>
        	</div>
        	<div id="info-list">
        		<ul>
        			<li style="padding-bottom: 10px;" class="flex between">
        				<sapn style="font-size:25px;padding-top: 15px;">공지사항</sapn>
        				<a href="/notice-board/list">
        					<img title="공지사항 게시판으로 이동합니다." id="info-img"src="images/common/add_box_FILL0_wght400_GRAD0_opsz48.png" 	>
        				</a>
        			</li>
        			
        			<li class="flex between">
        				<sapn>공지사항 태그</sapn>
        				<sapn class="content">공지사항 제목</sapn>
        				<sapn>등록일자</sapn>
        			</li>
        			<li class="flex between">
        				<sapn>공지사항 태그</sapn>
        				<sapn class="content">공지사항 제목</sapn>
        				<sapn>등록일자</sapn>
        			</li>
        			<li class="flex between">
        				<sapn>공지사항 태그</sapn>
        				<sapn class="content">공지사항 제목</sapn>
        				<sapn>등록일자</sapn>
        			</li>
        			
        			
        		</ul>
        	</div>
        </main>

    </body>
</html>