<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" >
	<section id="goodslist">
		<h1>상품등록</h1>
		<div class="wrap">
			<p>상품조회 및 수정</p>
			<hr>
			<table>
				<thead>
					<tr>
						<td>상품번호</td>
						<td>상품명</td>
						<td>가격</td>
						<td>재고</td>
						<td>판매상태</td>
						<td>생성일</td>
					</tr>
				</thead>
				<tbody id="show">
					<tr th:if="${#lists.isEmpty(list)}">
						<th colspan="4">게시글이 존재하지 않습니다.</th>
					</tr>
					<!-- getter 필요함 -->
					<tr th:each="list:${list}">
						<td th:text="${list.no}">상품번호</td>
						<td >
							<a th:text="${list.title}" th:href="|/admin/goods/${list.no}|" >상품명</a>
						</td>
						<td th:text="${list.price}">가격</td>
						<td th:text="${list.stock}">재고</td>
						<td>
							<span th:if="${list.state == 1}">판매함</span>
							<span th:if="${list.state == 0}">판매안함</span>
						</td>
						<td th:text="${list.createdDate.toLocalDate()}">생성일</td>	
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<script type="text/javascript">
	$("#show a").click(memuItemClicked);
	</script>
</html>