<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security"
	th:replace="~{ layout/layout :: basic(~{this::head},~{::main}) }">
	<head>
		 <link rel="stylesheet" href="/css/userInfo.css"> 

		<script src="/js/userInfo.js"></script>
		<script src="/js/mail.js"></script>
		<style type="text/css">
#logod {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

/* Styling for the .wrap div */
.wrap {
  margin-top: 20px;
}

/* Styling for the .wrap p */
.wrap p {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styling for the th:block */
th\\:block {
  font-weight: bold;
}

/* Styling for the .wrap p:last-child */
.wrap p:last-child {
  margin-bottom: 0;
}
div:nth-child(2){
	padding: 10px 0;
}

</style>
	</head>
	<body>
		<main>
			<section id="logod">
				<div>
					<p>회원님의 아이디는</p>
				</div>
				<div>
					<p><th:block th:text=${list}>
						
					</th:block></p>
				</div>
				<div>
				<p>입니다</p>
				</div>
			</section>
		</main>
	</body>
</html>